/java/aula01/nbproject/private/
/java/aula01/build/
/java/aula02/ExemploSaida/nbproject/private/
/java/aula02/ExemploSaida/build/
/java/aula02/ExemploEntrada/nbproject/private/
/java/aula02/ExemploEntrada/build/
/java/aula02/exercicio1_media/nbproject/private/
/java/aula02/exercicio1_media/build/
/java/aula02/exercicio1_media/dist/
/java/aula02/exercicio2_cigarros/nbproject/private/
/java/aula02/exercicio2_cigarros/build/
/java/aula02/exercicio3_notas/nbproject/private/
/java/aula02/exercicio3_notas/build/
/java/aula02/exercicio3_notas/dist/
/java/aula03/exemplo1-decisao-simples/nbproject/private/
/java/aula03/exemplo1-decisao-simples/build/
/java/aula03/exemplo2-desvio-composto/nbproject/private/
/java/aula03/exemplo2-desvio-composto/build/
/java/aula03/exemplo3-se-encadeado/nbproject/private/
/java/aula03/exemplo3-se-encadeado/build/
/java/aula03/exemplo4-escolha/nbproject/private/
/java/aula03/exemplo4-escolha/build/
/java/aula03/exercicio1-calculadora/nbproject/private/
/java/aula03/exercicio1-calculadora/build/
/java/aula03/exercicio2-rodizio/nbproject/private/
/java/aula03/exercicio2-rodizio/build/
/java/aula03/exercicio3-posnegnulo/nbproject/private/
/java/aula03/exercicio3-posnegnulo/build/
/java/aula03/exercicio4-maior3num/nbproject/private/
/java/aula03/exercicio4-maior3num/build/
/java/aula04/exemplo1-while-soma/nbproject/private/
/java/aula04/exemplo1-while-soma/build/
/java/aula04/exemplo2-dowhile-voto/nbproject/private/
/java/aula04/exemplo2-dowhile-voto/build/
/java/aula04/exemplo3-for-soma10num/nbproject/private/
/java/aula04/exemplo3-for-soma10num/build/
/java/aula04/exercicio1-enquantofaca/nbproject/private/
/java/aula04/exercicio1-enquantofaca/build/
/java/aula04/exercicio2-facaenquanto/nbproject/private/
/java/aula04/exercicio2-facaenquanto/build/
/java/aula04/exercicio3-para/nbproject/private/
/java/aula04/exercicio1-resolucao-estruturada/nbproject/private/
/java/aula04/exercicio1-resolucao-estruturada/build/
/java/aula04/exercicio1-resolucao-estruturada/dist/
/java/aula04/exercicio1-com-funcoes-e-procedimentos/nbproject/private/
/java/aula04/exercicio1-com-funcoes-e-procedimentos/build/
